<header>
  <h2>Account Dashboard</h2>
</header>
<p>Hi, <%= current_account.email %>!</p>

<script src="/web-authn.js"></script>
<script>
  const challenge = "<%= session[:challenge] %>";

  PublicKeyCredential.getClientCapabilities().then((capability) => {
    if (capability.conditionalCreate) {
      password_less.autocreate("<%= current_account.email %>");
    } else {
      console.info('conditional creation unavailable');
    }
  });
</script>